# Ignorar archivos compilados
*.pyc

# Ignorar archivos finales
steam_games.csv
user_reviews.csv
user_items.csv

*.csv

steam_games.parquet
user_reviews.parquet

recommendation_sistem.ipynb

# Ignorar archivos de entorno
.env
